<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      ReactiveForm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-card class="Card">
            <ion-card-title id="Tittle">
              Task Creation
            </ion-card-title>
            <ion-card-content>
              <form [formGroup]="FormValidation" (ngSubmit)="Send()">
                <ion-input class="Input" label="Tittle" placeholder="Tittle" formControlName="Tittle" minlength="3">
                </ion-input>
                <div class="Alert" [hidden]="Tittle.valid || Tittle.pristine">
                  <p>The field is mandatory</p>
                </div>
                <ion-textarea class="Input" label="Description" placeholder="Description" formControlName="Description"
                  minlength="10">
                </ion-textarea>
                <div class="Alert" [hidden]="Description.valid || Description.pristine">
                  <p>The field is mandatory</p>
                </div>
                <ion-button type="submit" expand="block" class="btn-create" [disabled]="FormValidation.invalid">
                  Create Task</ion-button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="Card">
            <ion-card-title id="Tittle">Task List</ion-card-title>
            <ion-card-content>  
              <app-tasks *ngFor="let task of tasks" [task]="task"></app-tasks>
            </ion-card-content>
          </ion-card>          
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>